<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>Comparador de Precios</title>

	<link rel="stylesheet" href="/homework.css">
</head>
<body>

	<div class="container">
		
		<div class="row">
			<div id="search-form">
				<form class="form-container" action="">
					<input type="text" class="search-field" value="Type search text here..." />
					<div class="submit-container">
						<input type="submit" value="Comparar" class="submit" />
					</div>
				</form>
			</div>
		</div>
		
		<div class="row">
			<div class="panel">
				<div class="row">
					<div class="imgprod col">
						<img src="https://cdn.shopify.com/s/files/1/0740/0383/products/EUKANUBA_ADULT_SB_6.8_FRONT_1024x1024.png?v=1459552799">
					</div>
					<div class="infoprod col">
						<h1>CROQUETAS EUKANUBA ADULT SMALL BREED</h1>
						<h3>Presentacion: 3kg</h3>
						<h3>Talla: Pequeña</h3>
						<h3>Etapa: Adultos</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="precioCroquetero panel col">
				<h1>Precio Croquetero</h1>
				<h2>$399.00</h2>
			</div>
			<div class="precioCompetencia panel col">
				<div class="col">
					<span class="marca">Marca 1: </span>
					<span class="costo">$360.00</span>
				</div>
				<div class="col">
					<span class="marca">Marca 1: </span>
					<span class="costo">$410.00</span>
				</div>
				<div class="col">
					<span class="marca">Marca 1: </span>
					<span class="costo">$378.00</span>
				</div>
				<div class="col">
					<span class="marca">Marca 1: </span>
					<span class="costo">$400.00</span>
				</div>
			</div>
		</div>

	</div>

</body>
</html>